<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href='static/log.css'>
</head>

<body>
    <h1>LOKER LOG</h1>
    <table style="">
        <tr>
          <th>Timestamp</th>
          <th>UID</th>
          <th>Status</th>
        </tr>
        {% for log in content %}
          <tr>
            <td>{{ log.timestamp }}</td>
            <td>{{ log.uid }}</td>
            <td>{{ log.status }}</td>
          </tr>
        {% endfor %}
      </table>    
</body>